# Fish
fish/fish_variables
fish/completions/
fish/functions/
fish/conf.d/
fish/themes/

# LazyGit
lazygit/state.yml

# Apps
configstore
wireshark
raycast
gtk-2.0
gcloud
iterm2
yarn
zed
gh

# Files
.DS_Store
